# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/

# The tital size of those files with debug mode is over 700 MB....
linux/libwarp_derive.so
linux/libwarp_fs_ipfs.so
linux/libwarp_fs_memory.so
linux/libwarp_fs_storj.so
linux/libwarp_mp_ipfs.so
linux/libwarp_mp_solana.so
linux/libwarp_pd_flatfile.so
linux/libwarp_pd_memory.so
linux/libwarp_pd_stretto.so
linux/libwarp_rg_ipfs.so
linux/libwarp.so
example_console/linux/libwarp_derive.so
example_console/linux/libwarp_fs_ipfs.so
example_console/linux/libwarp_fs_memory.so
example_console/linux/libwarp_fs_storj.so
example_console/linux/libwarp_mp_ipfs.so
example_console/linux/libwarp_mp_solana.so
example_console/linux/libwarp_pd_flatfile.so
example_console/linux/libwarp_pd_memory.so
example_console/linux/libwarp_pd_stretto.so
example_console/linux/libwarp_rg_ipfs.so
example_console/linux/libwarp.so
